:root{
  --colorHTML: rgb(24, 18, 29);
  --super-ultra-dark-violet:rgb(16, 11, 20);
  --ultra-dark-violet:rgb(24, 18, 29);
  --dark-violet: rgb(35, 24, 44);
  --light-violet: rgb(164, 149, 216);
  --grey-violet: rgb(134, 131, 145);
  --medium-violet: rgb(166, 161, 184);
  --light-blue: rgb(174, 226, 215);
  --light-red: rgb(190, 50, 50);
  --dark-red: rgb(104, 3, 3);
  --light-orange: rgb(243, 205, 149);
  --titleFux: rgb(255, 0, 98);
}
.ligth {
  --colorHTML: rgb(243, 200, 83);
  --super-ultra-dark-violet:rgb(250, 219, 42);
  --ultra-dark-violet:rgb(243, 200, 83);
  --dark-violet: rgb(241, 209, 102);
  --light-violet: rgb(32, 7, 122);
  --grey-violet: rgb(76, 74, 82);
  --medium-violet: rgb(172, 163, 201);
  --light-blue: rgb(207, 67, 2);
  --light-red: rgb(190, 50, 50);
  --dark-red: rgb(104, 3, 3);
  --light-orange: rgb(121, 74, 4);
  --titleFux: rgb(90, 4, 189);
}
.headLigth{
  display: flex;  
  background-image: url("./assets/img/headCB.jpg");
  background-size: cover;
  border-radius: 10px 10px 50px;
  height: 165px;
  color: var(--super-ultra-dark-violet);
  text-shadow: 1px 3px 1px var(--dark-violet);  
  justify-content: center;
  filter: contrast(70%);
}
.imgHeader {
  display: flex;  
  background-image: url("./assets/img/landscape2.jpg");
  background-size: cover;
  border-radius: 10px 10px 50px;
  height: 165px;
  color: var(--super-ultra-dark-violet);
  text-shadow: 1px 3px 1px var(--super-ultra-dark-violet);  
  justify-content: center;
  filter: contrast(70%);
}
#styleBtn {
  padding: 0;
  height: 16px;
  width: 32px;
  margin-left: 15px;
  border: 0px;
  border-radius: 55px;
  position: absolute;
  left: 0px;
  top: 136px;
}
#styleBtn img{    
  width: 32px;
  height: 18px;
  object-fit: contain;
  padding: 0;
  margin: 0;
  border: 0px;
  justify-content: center;
  border-radius: 22px;
  position: absolute;
  left: 0px;
  top: -1px;
}

.headh1{
  color: var(--titleFux);      
  width: 500px;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html {
  background-color: var(--colorHTML);
}

body {
    padding: 20px;
    font-family: monospace;
    background-color: var(--super-ultra-dark-violet);
    color: var(--light-blue);
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    min-width: 588px;
    max-width: 588px;
    text-align: center;
}
.fechaYLugar{
  border: 1px solid var(--light-violet);
  border-radius: 5px;
  padding: 10px;  
}
#fechaInput{
  height: 29px;
}
#datosInicio{
  border: 1px solid var(--light-violet);
  border-radius: 5px;
  padding: 10px;
}
.contDiasExp{
  display: flex;
  justify-content: center;
  height: 35px;
  font-size: large;
}
#dias{
  font-size: large;
  font-weight: bold;
}
.contDiasDeMarcha {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contDiasDeDesc{
  display: flex;
  justify-content: center;
  align-items: center;
}
#explicacion{
  margin-right: 45px;
  margin-left: 45px;
}
#contComida, #desayunos, #ComidaMarchas{
  border: 1px solid var(--light-violet);
  padding: 10px;
  border-radius: 5px 5px 0px 0px;
}
h1{
  height: 24px;
}
#contIngDes, #contIngMar{
  width: 100%;
  justify-content: stretch;
  margin: 0px;
}
#menuComidas, #menuDesayuno, #menuMarchas{
  font-size: large;
  height: 74px;
}
b, #dias, #comidasYPorciones, #labelDesayunos, #labelMarchas{
  color: var(--light-orange);
}
#contFormComida{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#cenas {
  display: flex;
  width: 70%;  
}
#platos{
  display: flex;
  flex-direction: column;  
  justify-content: stretch;
}
#ingPlatos{
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  flex-wrap: wrap;
}
#cantidadCenas{
  display: flex;
  justify-content: stretch;
  width: 179px;
}
#contUnidades,#contCantidad{
  display: flex;
  flex-direction: column-reverse;
  width: 50%;
  justify-content: start;
  text-align: center;  
}
#cantidadIngCenas{
  padding-left: 40px;
}

#SectionTabMenu {
  margin-left: 5px;
  display: block;
  width: 30%;
  border: 3px solid var(--colorHTML);
}
#col1,#col2,#col3{
  border-bottom: 2px solid var(--colorHTML);  
}
p{
  padding-bottom: 2px;
  color: var(--grey-violet);
}


.contUniDesay, .contUniMarcha{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0px 0px 10px 0px;;
}
.contIngDesayuno{
  display: flex;
  justify-content: space-between;

}
#contIngDes, #contDiasRepDes, #contIngMar, #conDiasRepMar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
}
#contUniDesayuno, #contCantDesayuno {
  display: flex;
  width: 25%;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
.table{
  background-color: var(--ultra-dark-violet);
  margin-bottom: 15px;
  border-radius: 0 0 5px 5px;
}
#labelUnidades{
  display: flex;  
  align-items: center
}
#cantidadIngDesayuno,#cantidadIngMarchas{
  height: auto;
}
#repiteLabel{
  width: 150px;
  margin: 5px 5px 5px 5px;
  text-align: end;
}
#pLabel{
  width: 80px;
  margin: 5px 5px 5px 5px;
  text-align: center;
}
#contClasificacionIng{
  display: flex;
  justify-content: center;
  align-content: stretch;
}
input[type="button"]{
  padding: 5px;
  margin: 5px;
  border: 2px solid var(--light-blue);
  border-radius: 3px;
}
input[type="button"]:hover {
  background-color: var(--light-blue);
  border: 1px solid var(--medium-violet);
}
input[type="button"]:active {
  background-color: var(--light-red);
  border: 1px solid var(--medium-violet);
}
select{
  padding: 3px 3px;  
  border: 1px solid var(--light-blue);
  margin: 5px;
  border-radius: 3px;
}
select{
  border: 2px solid var(--light-blue);
  margin: 5px;
  border-radius: 3px;
}
input[type="number"] {
  padding: 3px 3px;
  height: 19px;
  border: 2px solid var(--light-blue);
  margin: 5px;
  border-radius: 3px;
  max-width: 40px;
}
#cantidadCenas{
  max-width: 170px;
}
#ingredientesCenas{
  width: 180px;
}
#marcha-text{
  display: inline-block;
  color: var(--grey-violet);
}
#descanso-text{
  color:var(--grey-violet);
}
input[type = "text"], #fechaInput{
    padding: 3px 3px;
    height: 19px;
    border: 2px solid var(--light-blue);
    margin: 5px;
    border-radius: 3px;
    max-width: 200px;
}
input[type = "button"] {
  background-color: var(--medium-violet);
}
.gardarYcargar{
  display: flex;
  justify-content: center;
}
#listaDeIngredientes, #listaDeIngredientesDesayunos, #listaDeIngredientesMarchas{
  border: 1px solid var(--light-red);
  padding: 15px;
}
tbody {
  padding: 8px 3px;
  height: 19px;
  border: 1px solid var(--light-red);
  margin: 20px;
  border-radius: 5px;
  max-width: 200px;
}
tr >th {
  width: 200px;
}
tr th ~ th {
  width: 100px;
}
#contListasCompra{
  background-color: var(--ultra-dark-violet);
  /* border: 3px dashed var(--dark-red); */
  padding: 10px;
}
#contListasCompra table thead div{
  font-weight: 800;
  font-size: large;
  padding: 10px;
  width: 100%;
}
#contListasCompra table{
  border: 1px solid var(--light-red);
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}
#contListasCompra table thead,
#contListasCompra table tbody {
  width: 100%;
  justify-items: center;
}
#contListasCompra table thead tr,
#contListasCompra table tbody tr{
  display: flex;
  justify-content: center;
  width: 100%;
}
#contListasCompra table thead td,
#contListasCompra table tbody td {
  justify-content: space-between;
  padding: 10px;
  width: 25%;
}
a, #imprim{
  background-color: var(--ultra-dark-violet);
  color: var(--grey-violet);
  border: 2px solid var(--grey-violet);
  border-radius: 3px;
  padding: 5px;
  text-decoration: none;  
  width: 120px;
}
#imp{
  margin-bottom: 16px;
  background-color: var(--ultra-dark-violet);
  border-radius: 5px;
  padding: 5px;
}
#titleExp{
  margin-bottom: 16px;
  background-color: var(--ultra-dark-violet);
  border-radius: 5px;
  padding: 5px;
}
#titleExp p{
  color: var(--light-blue);
  font-size: larger;
  font-weight: 700;
}

@media print{
  body *:not(#contListasCompra):not(#contListasCompra *){
    /* visibility: hidden; */
    display: none;
    background-color: white;
  }
  body{
    background-color: white;
  }
  #titleExp {
    background-color: white;
    color: black;
  }
  #titleExp p{
    background-color: white;
    color: black;
  }
  #contListasCompra{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    /* visibility: visible; */
    background-color: white;
    color: black;    
    display: block !important;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    line-height: 0.9em;
  }
  #contListasCompra table thead tr{
    display: none;
  }
  #contListasCompra table tbody tr{
    height: 24px;
    text-align: left;
  }
  #contListasCompra table tbody td:nth-child(1){
    display: none;
  }
  #contListasCompra table tbody td:nth-child(2){
    width: 200px;
  }
}